// TAGS / BADGES
// https://beta.nhs.uk/service-manual/styles-components-patterns/colour
// https://www.england.nhs.uk/nhsidentity/identity-guidelines/colours/

.nhsuk-tag {

  background-color: transparent;
  display: inline-block;
  font-family: Frutiger, sans-serif;
  font-size: 14px;
  padding: 4px;
  font-weight: 400;
  border-width: 1px;
  border-style: solid;
  margin: 0px 10px;


}
.nhsuk-tag__success{
    @extend .nhsuk-tag;
  border-color: $color_nhsuk-green;
  color: $color_nhsuk-green;
}

.nhsuk-tag__warning{
    @extend .nhsuk-tag;
  border-color: $color_nhsuk-red;
  color:  $color_nhsuk-white;
  background-color: $color_nhsuk-red;

}

.nhsuk-tag__warning_invert{
  @extend .nhsuk-tag;
border-color: #ED8B00;
color: $color_nhsuk-white;
background-color: #ED8B00;
}

.nhsuk-tag__default{
  @extend .nhsuk-tag;
  color: $color_nhsuk-grey-1;
  border-color:$color_nhsuk-grey-1;
}
.nhsuk-tag__highlight{
  @extend .nhsuk-tag;
color: $color_nhsuk-blue;
border-color: $color_nhsuk-blue;
}

//smaller info tag to make it work for referral summary and advice summary
.nhsuk-tag-medium{
  margin: 0px 0px 10px 0px;
  padding:12px;
  font-weight: 700;
  border-width: 4px;
  font-size: 18px;
  background-color: transparent;
}

.nhsuk-tag-large{
  margin: 0px 0px 10px 0px;
  padding:12px;
  font-weight: 700;
  border-width: 4px;
  font-size: 24px;
  background-color: rgba(0,0,0,0);
}
