{% extends "layout.html" %}

{% set mainClasses = '' %}
{% set containerClasses = 'nhsuk-width-container-fluid' %}
{% set bodyClasses = 'nhsuk-white-background' %}
{% block pageScripts %}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/auto.js"></script>
<script type="text/javascript" src="/js/reveal.js"></script>
<script type="text/javascript" src="/js/action-menu.js"></script>
<script type="text/javascript" src="/js/sort.js"></script>
<script type="text/javascript" src="/js/sub-nav"></script>
<script type="text/javascript" src="/js/reveal-test.js"></script>

{% endblock %}
{% block pageTitle %}
NHS e-referral Service
{% endblock %}

{% block header %}
<header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container-fluid nhsuk-header__container">
    <div class="nhsuk-header__logo">
      <a class="nhsuk-header__link" href="/appointments" aria-label="NHS homepage">
        <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" viewBox="0 0 40 16">
          <path fill="#fff" d="M0 0h40v16H0z"></path>
          <path fill="#005eb8"
            d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6">
          </path>
          <image src="https://assets.nhs.uk/images/nhs-logo.png" xlink:href=""></image>
        </svg>
      </a>
    </div>
    <!-- END LOGO -->
    <!-- SERVICE NAME -->
    <div class="nhsuk-header__transactional-service-name">
      <a class="nhsuk-header__transactional-service-name--link" href="/">e-Referral Service</a>
    </div>

    <div class="nhsuk-header__content" id="content-header">
      <div class="nhsuk-header__menu">
        <nav class="nhsuk-header__navigation" id="header-navigation" role="navigation" aria-label="Primary navigation">
          <ul class="nhsuk-header__navigation-list" style="border:0">
            <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link" href="https://www.nhs.uk/conditions/social-care-and-support/">
                Help
              </a>
            </li>
            <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link" href="https://www.nhs.uk/news/">
                Alerts

              </a>
            </li>
            <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link" href="https://www.nhs.uk/service-search">
                Dave Evans
              </a>
            </li>
          </ul>
        </nav>

      </div>
    </div>
  </div>

</header>
<!-- SUB MENU PATIENT INFO -->

<nav class="nhsuk-grey-background patient-info">
  <ul role="navigation">
    <li><span style=""><strong>UBRN: </strong> 3452 1007 6779</span></li>
    <li>Patient: <a href="Patient name">EVANS, David (Mr) <svg class="nhsuk-icon nhsuk-icon__arrow-down nhsuk-icon--ers" viewBox="0 0 150 150" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">

      <g id="Arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polygon id="Rectangle" fill="#415563" fill-rule="nonzero" transform="translate(75.000000, 75.000000) rotate(45.000000) translate(-75.000000, -75.000000) " points="75 75 97 53 97 97 53 97"></polygon>
      </g>
    </svg></a></li>
    <li><strong>Gender: </strong> Male</li>
    <li>30 years (4 June 1988)</li>
  </ul>
  <div class="nhsuk-close">
    <a class="" href="/appointments">Close
      <svg class="nhsuk-icon nhsuk-icon--ers nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
<path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
</svg></a>

  </div>
</nav>
{% endblock %}
{% block content %}

<div class="nhsuk-grid-row nhsuk-u-margin-top-4">
        <div class="nhsuk-grid-column-full">
            <h1 class="nhsuk-heading-l">Referral summary</h1>

              <!--  tested sub-nav doesn't work           <nav class="sub-nav">
                <ul>
                    <li><a href="https://vibrant-mclean-37b45f.netlify.com/index-2.html">Referral history</a></li>
                    <li><a href="#">Advice and guidance</a></li>
                    <li><a href="#">Related UBRN</a></li>
                </ul>
              </nav> -->


            <div class="nhsuk-heading-links-container">
              <div class="nhsuk-heading-links">
                <ul>
                  <li><a href="/advice/advice-request-ended">Advice summary</a></li>
                  <li><a href="https://vibrant-mclean-37b45f.netlify.com/index-2.html">Referral history</a></li>
                  <li><a href="#">Related UBRN</a></li>
                </ul>      
              </div> 

            </div>

<!--                  <div class="panel panel-border-wide alert-default">
                    <h2 class="nhsuk-heading-s nhsuk-u-padding-top-3">
                      Missing referral letter / clinical information
                    </h2>
              
                  </div> -->
            </div>
            </div>
            <div class="nhsuk-panel nhsuk-panel--grey" style="margin-top: 0px">
<!-- hide the actions menu on rhs and moved it into grid - the current alignment is not accessible as off page and all actions in menu appears off page on small device screens 
 -->  
 <div class="nhsuk-grid-row">   
          <div class="nhsuk-grid-column-two-thirds flex-container">
              <div class="flex-child">
                  <span class="nhsuk-tag__highlight nhsuk-tag-large">NOT YET BOOKED</span>
              </div>
          </div>
  <div class="nhsuk-grid-column-one-quarter">
    <div class="nhsuk-heading-menu__actions">
          <div class="dropdown">
              <button onclick="myFunction()" class="dropbtn">Actions
                <svg class="nhsuk-icon nhsuk-icon__arrow-down nhsuk-icon--ers" viewBox="0 0 150 150" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
  
                  <g id="Arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <polygon id="Rectangle" fill="#f1f1f1" fill-rule="nonzero" transform="translate(75.000000, 75.000000) rotate(45.000000) translate(-75.000000, -75.000000) " points="75 75 97 53 97 97 53 97"></polygon>
                  </g>
                </svg>
              </button>

              <div id="myDropdown" class="dropdown-content">
<!--                 <a href="">Add referral letter</a>-->
                <a href="/appointments/referral-appointments">Book appointment</a>
                <!-- <a href="/cancel/cancel-reasons">Cancel appointment</a> -->
                <a href="/search/search">Change services</a>
                <a href="/cancel-referral/cancel-referral">Cancel referral</a>
              </div>

          </div>
      </div>
  </div>
</div>
 <!-- hide to here  -->

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    
    <dl class="app-check-your-answers app-check-your-answers--short app-check-your-answers--no-border">
       
      
        <!-- <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                <div class="flex-child">
                    <span class="nhsuk-tag__highlight nhsuk-tag-large">BOOKED</span>
                </div>
            </dt>
            <dd class="app-check-your-answers__answer">
                <div class="nhsuk-heading-menu__actions">


                    <div class="dropdown">
                      <button onclick="myFunction()" class="dropbtn">Actions
                        <svg class="nhsuk-icon nhsuk-icon__arrow-down nhsuk-icon--ers" viewBox="0 0 150 150" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
          
                          <g id="Arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon id="Rectangle" fill="#f1f1f1" fill-rule="nonzero" transform="translate(75.000000, 75.000000) rotate(45.000000) translate(-75.000000, -75.000000) " points="75 75 97 53 97 97 53 97"></polygon>
                          </g>
                        </svg>
          
          
                      </button>
                      <div id="myDropdown" class="dropdown-content">
          
                        <a href="">Add referral letter</a>
                        <a href="/rebook/rebook-appointments">Rebook appointment</a>
                        <a href="/cancel/cancel-reasons">Cancel appointment</a>
                        <a href="/search/search">Change services</a>
                      </div>
                    </div>
          
                  </div>
            </dd>
          </div> -->


          <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Outcome
              </dt>
              <dd class="app-check-your-answers__answer">
                Return to referrer with advice
              </dd>
            </div>
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                 Comments
              </dt>
              <dd class="app-check-your-answers__answer">
                Thank you for referring into our triage service. After careful assessment of the patients knee injury (see attached x-ray). I don't believe any further treatment is required within secondary care. 
                Any ongoing treatment should be managed in consultation with their GP.
              </dd>
            </div>

      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
           Service: 
        </dt>
        <dd class="app-check-your-answers__answer">
                    
                    <a class="service-details-link" data-target="service-details-1">The Yorkshire Clinic </a>
                    <br><span>Adult Hernia Repair NHS Clinic - The Yorkshire Clinic - NVC</span>
                    <div class="service-details-content" id="service-details-1">
                        <p class="nhsuk-body-s"><strong>Contact details</strong> <br>
                          BRADFORD ROAD, BINGLEY, WEST YORKSHIRE, BD16 1TW <br>
                            Professional Phone: 01274 550621 Patient Phone: 01274 550621 <br>
                            Email: RHC.York-Referral-Team@nhs.net   </p>
                
                            <dl class="nhsuk-body-s">
                              <dt>Indicative treatment wait</dt>
                              <dd>14 weeks</dd>
                            </dl>
                
                          <dl class="nhsuk-body-s">
                            <dt>Conditions</dt>
                
                            <dd>Inguinal Hernia
                                Umbilical Hernia
                                Femoral Hernia
                                Abdominal Hernia
                                Recurrent Hernia
                                Epigastric hernia
                                Primary and Single
                                
                                For further information about our Hospital, Services & Treatments, <a href="">click here</a></dd>
                                <dt>Procedures performed</dt>
                                <dd>Removal prosthetic material from previous repair incision hernia 
                                    Repair of ventral hernia 
                                    Removal prosthetic material from previous repair ventral hernia 
                                    Repair of other hernia of abdominal wall 
                                    Primary repair of inguinal hernia 
                                    Repair of recurrent inguinal hernia 
                                    Primary repair of femoral hernia 
                                    Removal prosthetic material from previous repair femoral hernia 
                                    Repair of recurrent femoral hernia 
                                    Removal prosthetic material from previous repair umbilical hernia 
                                    Repair of umbilical hernia 
                                    Bilateral herniotomy 
                                    Unilateral herniotomy 
                                    Ligation of patent processus vaginalis 
                                    Simple excision of inguinal hernial sac 
                                    Plastic operations on umbilicus 
                                    Lapraposcopic hernia</dd>
                            <dt>Exclusions</dt>
                            <dd>A patient who has an unstable mental condition and is receiving psychiatric treatment.
                                Surgery for patients under 18 years of age
                            </dd>
                            <dt>Suggested investigations</dt>
                            <dd>None</dd>
                          </dl>
                         
                      </div>
                 

                  <!-- <a class="service-details-link" data-target="view-full-shortlist"><p><br>View full shortlist</a>  </p>
                  <div class="service-details-content" id="view-full-shortlist">

                    <a class="service-details-link" data-target="service-details-2">The Yorkshire Clinic 2 </a><span class="nhsuk-tag__default">Telephone appointments</span>
                    <br><span>Adult Hernia Repair NHS Clinic - The Yorkshire Clinic - NVC</span>
                    <div class="service-details-content" id="service-details-2">
                        <p class="nhsuk-body-s"><strong>Contact details</strong> <br>
                          BRADFORD ROAD, BINGLEY, WEST YORKSHIRE, BD16 1TW <br>
                            Professional Phone: 01274 550621 Patient Phone: 01274 550621 <br>
                            Email: RHC.York-Referral-Team@nhs.net   </p>
                
                            <dl class="nhsuk-body-s">
                              <dt>Indicative treatment wait</dt>
                              <dd>14 weeks</dd>
                            </dl>
                
                          <dl class="nhsuk-body-s">
                            <dt>Conditions</dt>
                
                            <dd>Inguinal Hernia
                                Umbilical Hernia
                                Femoral Hernia
                                Abdominal Hernia
                                Recurrent Hernia
                                Epigastric hernia
                                Primary and Single
                                
                                For further information about our Hospital, Services & Treatments, <a href="">click here</a></dd>
                                <dt>Procedures performed</dt>
                                <dd>Removal prosthetic material from previous repair incision hernia 
                                    Repair of ventral hernia 
                                    Removal prosthetic material from previous repair ventral hernia 
                                    Repair of other hernia of abdominal wall 
                                    Primary repair of inguinal hernia 
                                    Repair of recurrent inguinal hernia 
                                    Primary repair of femoral hernia 
                                    Removal prosthetic material from previous repair femoral hernia 
                                    Repair of recurrent femoral hernia 
                                    Removal prosthetic material from previous repair umbilical hernia 
                                    Repair of umbilical hernia 
                                    Bilateral herniotomy 
                                    Unilateral herniotomy 
                                    Ligation of patent processus vaginalis 
                                    Simple excision of inguinal hernial sac 
                                    Plastic operations on umbilicus 
                                    Lapraposcopic hernia</dd>
                            <dt>Exclusions</dt>
                            <dd>A patient who has an unstable mental condition and is receiving psychiatric treatment.
                                Surgery for patients under 18 years of age
                            </dd>
                            <dt>Suggested investigations</dt>
                            <dd>None</dd>
                          </dl>
                      </div> 
                      <p></p>
                      <a class="service-details-link" data-target="service-details-3">The Yorkshire Clinic 3 </a><span class="nhsuk-tag__warning">Limited capacity</span>
                      <br><span>Adult Hernia Repair NHS Clinic - The Yorkshire Clinic - NVC</span>
                      <div class="service-details-content" id="service-details-3">
                          <p class="nhsuk-body-s"><strong>Contact details</strong> <br>
                            BRADFORD ROAD, BINGLEY, WEST YORKSHIRE, BD16 1TW <br>
                              Professional Phone: 01274 550621 Patient Phone: 01274 550621 <br>
                              Email: RHC.York-Referral-Team@nhs.net   </p>
                  
                              <dl class="nhsuk-body-s">
                                <dt>Indicative treatment wait</dt>
                                <dd>14 weeks</dd>
                              </dl>
                  
                            <dl class="nhsuk-body-s">
                              <dt>Conditions</dt>
                  
                              <dd>Inguinal Hernia
                                  Umbilical Hernia
                                  Femoral Hernia
                                  Abdominal Hernia
                                  Recurrent Hernia
                                  Epigastric hernia
                                  Primary and Single
                                  
                                  For further information about our Hospital, Services & Treatments, <a href="">click here</a></dd>
                                  <dt>Procedures performed</dt>
                                  <dd>Removal prosthetic material from previous repair incision hernia 
                                      Repair of ventral hernia 
                                      Removal prosthetic material from previous repair ventral hernia 
                                      Repair of other hernia of abdominal wall 
                                      Primary repair of inguinal hernia 
                                      Repair of recurrent inguinal hernia 
                                      Primary repair of femoral hernia 
                                      Removal prosthetic material from previous repair femoral hernia 
                                      Repair of recurrent femoral hernia 
                                      Removal prosthetic material from previous repair umbilical hernia 
                                      Repair of umbilical hernia 
                                      Bilateral herniotomy 
                                      Unilateral herniotomy 
                                      Ligation of patent processus vaginalis 
                                      Simple excision of inguinal hernial sac 
                                      Plastic operations on umbilicus 
                                      Lapraposcopic hernia</dd>
                              <dt>Exclusions</dt>
                              <dd>A patient who has an unstable mental condition and is receiving psychiatric treatment.
                                  Surgery for patients under 18 years of age
                              </dd>
                              <dt>Suggested investigations</dt>
                              <dd>None</dd>
                            </dl>
                        </div>
                      </div>


                    
            </dd> -->



        </div>

      <!-- <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
         Appointment date:
        </dt>
        <dd class="app-check-your-answers__answer">
          Wednesday 4 November 2019
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
           Appointment time:
          </dt>
          <dd class="app-check-your-answers__answer">
            09:00
          </dd>
        </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Clinician:
        </dt>
        <dd class="app-check-your-answers__answer">
          ALTAF, Noor (DR)
        </dd>
        <dd class="app-check-your-answers__answer">

          </dd>
      </div> -->
  <!--      <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">

          </dt>
          <dd class="app-check-your-answers__answer">
           <a class="nhsuk-u-margin-right-4" href="#">Print patient letter</a> <a href="#">Send patient email</a>  
                    
            <a class="nhsuk-button nhsuk-button--ers_secondary" href="#" type="submit">Print patient letter</a>
          <a class="nhsuk-button nhsuk-button--ers_secondary" href="#" type="submit">Send patient email</a>
          </dd>
      </div> 
             
      </dl>-->
              
     <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
        Triage Attachments:
        </dt>
        <dd class="app-check-your-answers__answer">
            <table class="nhsuk-table">
                <thead class="nhsuk-table__head">
                  <tr class="nhsuk-table__row">
                    <th class="nhsuk-table__header" scope="col">File name</th>
                    <th class="nhsuk-table__header" scope="col">File description</th>
                    <th class="nhsuk-table__header" scope="col">Added by</th>
                    <th class="nhsuk-table__header" scope="col">Date added</th>
                  </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                    <tr class="nhsuk-table__row">
                      <td class="nhsuk-table__cell"><a href="">abdominal-ultrasound.pdf</a></td>
                      <td class="nhsuk-table__cell ">Please see clinical attachment attached</td>
                      <td class="nhsuk-table__cell ">SMITH, Steven (DR)</td>
                      <td class="nhsuk-table__cell ">23 October 2019</td>
                    </tr>
                    </tbody>
                    </table>
                    <p>
              </dl>
          </dd>
      </div> 
     
   </div> 
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full nhsuk-u-margin-left-2">
        <div class="nhsuk-heading-links-container">
            <h2 class="nhsuk-heading-l">Referral details</h2>
            <div class="nhsuk-heading-links">
              <ul>
                <li><a href="#">Download summary</a></li>
              </ul>
            </div>
        </div>
  </div>

<div class="nhsuk-grid-column-full nhsuk-u-margin-left-2">    
    <dl class="app-check-your-answers app-check-your-answers--short app-check-your-answers--no-border">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Referred by:
        </dt>
        <dd class="app-check-your-answers__answer">
          DIXON, Wasan (Dr)
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Organisation:
        </dt>
        <dd class="app-check-your-answers__answer">
          Paxton Green Group Practice
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Clinical context:
        </dt>
        <dd class="app-check-your-answers__answer">
          Urology/Prostate
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Priority:
        </dt>
        <dd class="app-check-your-answers__answer">
          Routine
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Registered practice:
        </dt>
        <dd class="app-check-your-answers__answer">
          Paxton Green Group Practice

        </dd>

      </div>


    </dl>

    <h2>Attachments</h2>
<!--     <div class="panel panel-border-wide alert-default">
        <h2 class="nhsuk-heading-s nhsuk-u-padding-top-3">
            Referral details have been added through your GP clinical system. Use your clinical system to update them.
        </h2>
  
      </div> -->
    <p class="nhsuk-body"><a href="">Add / update attachments</a></p>
    <table class="nhsuk-table">

        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="col">File</th>
            <th class="nhsuk-table__header" scope="col">Description</th>
            <th class="nhsuk-table__header" scope="col">Added by</th>
            <th class="nhsuk-table__header" scope="col">Date added</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="">referral-letter.docx</a></td>
              <td class="nhsuk-table__cell ">patient referral letter</td>
              <td class="nhsuk-table__cell ">SMITH, Steven (DR)</td>
              <td class="nhsuk-table__cell ">23 October 2019</td>
            </tr>
            </tbody>
            </table>



     <!-- <h2>Clinical information</h2>
    <details class="nhsuk-details nhsuk-expander nhsuk-expander--ers-grey">
        <summary class="nhsuk-details__summary nhsuk-details--ers-grey">
          <span class="nhsuk-details__summary-text">
            Risk to others
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>This patient is not a risk to others</p>
          
        </div>
      </details>
      <details class="nhsuk-details nhsuk-expander nhsuk-expander--ers-grey">
        <summary class="nhsuk-details__summary nhsuk-details--ers-grey">
          <span class="nhsuk-details__summary-text">
            Reason for referral
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Patient has a knee injury</p>
          
        </div>
      </details>
      <details class="nhsuk-details nhsuk-expander nhsuk-expander--ers-grey">
          <summary class="nhsuk-details__summary nhsuk-details--ers-grey">
            <span class="nhsuk-details__summary-text">
              Expectation of referral
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>Injury management plan or treatment</p>
          </div>
        </details>
        <details class="nhsuk-details nhsuk-expander nhsuk-expander--ers-grey">
            <summary class="nhsuk-details__summary nhsuk-details--ers-grey">
              <span class="nhsuk-details__summary-text">
                Past medical history
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p><a href="">See medical record</a></p>
            </div>
          </details>
          <details class="nhsuk-details nhsuk-expander nhsuk-expander--ers-grey">
              <summary class="nhsuk-details__summary nhsuk-details--ers-grey">
                <span class="nhsuk-details__summary-text">
                  Allergies and adverse reaction
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <p>This patient has no known allergies</p>
              </div>
            </details>
            <details class="nhsuk-details nhsuk-expander nhsuk-expander--ers-grey">
                <summary class="nhsuk-details__summary nhsuk-details--ers-grey">
                  <span class="nhsuk-details__summary-text">
                    Findings
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <p>Knee x-ray shows slight abbrasion to bone</p>
                </div>
              </details>
              <details class="nhsuk-details nhsuk-expander nhsuk-expander--ers-grey">
                  <summary class="nhsuk-details__summary nhsuk-details--ers-grey">
                    <span class="nhsuk-details__summary-text">
                      Family history
                    </span>
                  </summary>
                  <div class="nhsuk-details__text">
                    <p>There is known family history of heart disease</p>
                  </div>
                </details>
                <details class="nhsuk-details nhsuk-expander nhsuk-expander--ers-grey">
                    <summary class="nhsuk-details__summary nhsuk-details--ers-grey">
                      <span class="nhsuk-details__summary-text">
                        Social context
                      </span>
                    </summary>
                    <div class="nhsuk-details__text">
                      <p>Patient was resident of Spain</p>
                    </div>
                  </details> -->
 



    <h2>Additional requirements</h2>
    <p class="nhsuk-body"><a href="">Add / update requirements</a></p>

    <table class="nhsuk-table">

        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="col">Type</th>
            <th class="nhsuk-table__header" scope="col">Description</th>
            <th class="nhsuk-table__header" scope="col">Status</th>
            <th class="nhsuk-table__header" scope="col">Comments</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Interpreter</td>
              <td class="nhsuk-table__cell ">Spanish translator required</td>
              <td class="nhsuk-table__cell ">Booked</td>
              <td class="nhsuk-table__cell ">None</td>
            </tr>
            </tbody>
            </table>


</div>


</div>


 


            
{% endblock %}

{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container nhsuk-width-container-fluid">

      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>
{% endblock %}
