{% extends 'layout.html' %}

{% block beforeContent %}
  {{ hero({
    "heading": "NHS e-Referral Service",
    "text": "Prototypes and confidence levels from usability testing"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row nhsuk-u-margin-top-4">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-top-4">
        <h2><a href="styleguide/components">Style Guide</a></h2>
        <p>Components, patterns and styles guide</p>
<h2><a href="search">Create Referral</a></h2>
<p>Admin or GP create a new referral</p>
<p>Search and find services, including review <a href="/images/Referrer%20capacity%20alerts.png" target="_blank">capacity alerts</a></p>
  
<h2><a href="appointments/referral-appointments">Book Appointments</a></h2>
<p>Admin can find and book appointments, defer to provider, rebook and cancel appointments</p>

<h2><a href="advice">Request Advice</a></h2>
<p>GP requests advice from a provider</p>

<h2><a href="/summary/index">Referral Summary</a></h2>
<p>Admin manages the referral, including change services and cancel referral</p>

<h2><a href="https://marvelapp.com/a8e8aee/screen/60100967" target="_blank">Referrer Worklists</a></h2>
<p>Admin manages worklists</p>

<h2><a href="journeys">Prototype overview</a></h2>
<p>Site map showing all new pages</p>
    </div>
  </div>
{% endblock %}
